/* Common styles for all screens */
body {
    background: rgba(16, 61, 2, 0.445);
    color: rgba(0, 0, 0, 0.925);
    font-size: 3.3vw;
    text-align: center;
}

table {
    margin: 0 auto;
}

table th, table td {
    border: 1.5px solid black;
}

ul {
    list-style-type: none;
}

li {
    line-height: 5vw;
}

.title {
    color: rgba(15, 75, 131, 0.712);
}

.info {
    background-color: rgba(0, 255, 255, 0.479);
}

/* Media query for phones */
@media only screen and (max-width: 9cm) {
    body {
        font-size: 16px; /* Set a specific font size for phones */
    }

    li {
        line-height: 1.5; /* Adjust the line height for better readability on phones */
    }
}
